{% extends 'employee_base.html' %}

{% block title %} Daily Schedule {% endblock %}

{% block header %} All Customers: {% endblock %}

{% block content %}
<div class="container">
    <div style="margin-top: 100px;"class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            {% for customer in customers %}
   
            <p style="text-align:left; margin-left:90px"><strong>{{customer.name}}</strong> {{customer.address}} {{customer.zip_code}} <em>Balance:</em> {{customer.balance}}
            <a href= "{% url 'employees:update_customer' customer.id %}">Update</a></p><br>
            {% endfor %}

        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}