{% extends 'employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello {{ logged_in_employee.name }}!
    Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />
    <a href= "{% url 'employees:edit_profile' %}">Edit Profile</a>


    <h5>Today's Pickups</h5>
    <ul>
      {% for customer in todays_pickups %}
      <li>{{ customer.name }} - {{customer.address}} - {{ customer.zip_code }}</li> -  <a href= "{% url 'employees:confirm_pickup' customer.id %}">Confirm Pickup</a>
      {% endfor %}
    </ul>

    <ul>
      {% for customer in one_time_pickups %}
      <li>{{ customer.name }} - {{customer.address}} - {{ customer.zip_code }}</li> -  <a href= "{% url 'employees:confirm_pickup' customer.id %}">Confirm Pickup</a>
      {% endfor %}
    </ul>
  
    <h5>Select Day To View Scheduled Pickups</h5>
    <a href= "{% url 'employees:view_schedule' 'Monday' %}">Monday</a>
    <a href= "{% url 'employees:view_schedule' 'Tuesday' %}">Tuesday</a>
    <a href= "{% url 'employees:view_schedule' 'Wednesday'  %}">Wednesday</a>
    <a href= "{% url 'employees:view_schedule' 'Thursday' %}">Thursday</a>
    <a href= "{% url 'employees:view_schedule' 'Friday' %}">Friday</aview



  {% else %}
   
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}